body {
    margin: 20px;
    overflow-x: hidden;
}

.logo_grid {
    height: 133px;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    margin-right: 50px;
    margin-left: 20px;
}

.search_grid {
    width: 60%;
}

.search {
    /* background-color: rgb(46, 44, 44); */
    border-radius: 10px;
    /* border: 1px solid white; */
    /* color: white; */
}

.search>div {
    height: 40px;
}

.search .MuiInputBase-input::placeholder {
    color: white;
}

.search .MuiSvgIcon-root {
    color: white
}

.card_grid {
    display: flex;
    justify-content: right;
    /* margin: auto; */
}

.card {
    width: 100%;
    margin: 10px 15px 10px 33px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* background-color: rgb(29 27 27 / 67%) !important; */
}

.card_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.card_icon {
    font-size: 40px !important;
    color: white;
}

.welcome_grid {
    /* background-image: url("../assets/TopImage.svg"); */
    height: 500px;
    position: absolute;
    top: 150px;
    width: 600px;
    background-repeat: no-repeat;
    right: 3px;
}

.welcome_gridMain {
    margin-left: 200px;
}

.welcome {
    color: #5353fbfc;
    font-size: 30px !important;
}

.sidebar_grid {
    margin-top: 65px;
}

.s_card {
    height: 574px;
    width: 110px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.s_card_content {
    display: block;
    align-items: center;
}

.s_card_icon {
    font-size: 40px !important;
    color: white;
    margin-bottom: 50px;
}


.carousel_grid {
    /* background-color: rgb(6 6 6); */
    opacity: 0.5;
    border-radius: 10px !important;
}

.carousel-slider {
    height: 200px;
}

.legend {
    position: absolute !important;
    bottom: 180px !important;
}

.custom_grid {
    /* background-color: red !important; */
    opacity: 0.5 !important;
}

.statistics {
    color: #ffffff;
    margin: 10px 0px !important;
}

.custom-grid {
    /* background-color: red !important; */
    opacity: 0.5 !important;

}


.card_content_right {
    /* display: flex; */
    color: white;
    /* justify-content: space-between; */
}

.right_grid {
    /* background-color: rgb(6 6 6); */
    padding: 10px;
    opacity: 0.5;
    margin-left: 20px;
}

.right_wrap {
    padding: 20px;
}

.order_tank {
    /* color:#5353fbfc; */
}

.card_kaveri {
    /* background-color: black !important; */
    margin-top: 20px;
    height: 100%;
    width: 100%;

}

.kaveri {
    font-size: 25px !important;
    margin-bottom: 20px !important;
}

.view_Order {
    font-size: 10px;
    color: #5353fbfc;
}

.num {
    margin-left: 20px !important;
}

.card_kaveri_noti {
    /* background-color: black !important; */
    opacity: 0.5;
    margin-top: 10px;
    height: 90px;
}

.card_content_right_noti {
    /* color: #ffffff; */
}

.kaveri_noti {
    font-size: 15px !important;
    /* color: #ffffff; */
    margin-bottom: 20px !important;
}

.num_noti {
    margin-left: 10px !important;
}

.card_kaveri_order {
    opacity: 0.5;
    margin-top: 20px;
    height: 100%;
    width: 100%;
}

.card_content_right_order {
    /* color: #ffffff; */
    margin: 0px 10px;
}

.kaveri_order {
    font-size: 15px !important;
    color: #ffffff;
    margin-bottom: 20px !important;
}

.num_order {
    margin-left: 10px !important;
}

.btn_grid {
    border: 1px solid #5353fbfc !important;
    border-radius: 10px;
    margin-right: 20px !important;
    padding: 20px;
}

.btn_mainGrid {
    background-color: rgb(6 6 6);
    opacity: 0.4;
    margin: 0px 20px;
    border-radius: 5px;
}

.btn_grid_noti {
    border-radius: 10px;
    margin-right: 20px !important;
    /* background-color: rgb(6 6 6); */
    opacity: 0.4;
}


.btn_grid_order {
    background-color: green !important;
    color: '#ffffff';
    margin-right: 10px !important;
    margin-top: 10px !important;
    border-radius: 5px;
}

.btn_grid_order1 {
    background-color: red !important;
    color: '#ffffff';
    margin-right: 10px !important;
    margin-top: 10px !important;
    border-radius: 5px;
}

.btn_grid_order2 {
    background-color: blue !important;
    color: '#ffffff';
    margin-right: 10px !important;
    margin-top: 10px !important;
    border-radius: 5px;
}

.btn_grid_order3 {
    background-color: yellow !important;
    color: '#ffffff';
    margin-right: 10px !important;
    margin-top: 10px !important;
    border-radius: 5px;
}

.view_order_text {
    font-size: 10px !important;
    color: #5353fbfc;
}

.modal_orderId {
    color: #5353fbfc !important;
}

.modal_text {
    color: #ffffff;
}

.modal_btn {
    color: #ffffff;
    border: 1px solid #5353fbfc !important;
    border-radius: 10px !important;
}

.modal_grid {
    background-color: #000000;
}

.main_grid_dashboard {
    padding: 68px 20px !important
}

.main_grid_noti {
    padding: 15px 0px !important;
}

.bar_chart {
    width: 500px !important;
    height: 300px !important;
}


/* media queries */
@media screen and (max-width:1450px) and (min-width:1301px) {
    .search_grid {
        width: 60%;
    }

    .card {
        width: 100%;
        height: 85px !important;
    }

    .s_card {
        height: 500px;
        width: 54%;
    }

    .sidebar_grid {
        margin-top: 50px;
    }

    .main_grid_dashboard {
        padding: 40px 20px !important;
    }

}

@media screen and (max-width:1300px) and (min-width:1100px) {
    .search_grid {
        width: 50%;
    }

    .card {
        width: 100%;
        height: 70px !important;
    }

    .main_grid_dashboard {
        padding: 10px 20px !important
    }

    .s_card {
        height: 500px;
        width: 80px
    }

    .sidebar_grid {
        margin-top: 30px;
    }

    .main_grid_dashboard {
        padding: 22px 20px !important;
    }

}

@media screen and (max-width:1100px) and (min-width:900px) {
    .card {
        width: 100%;
        height: 55px !important;
    }

    .s_card {
        height: 500px;
        width: 70px
    }

    .sidebar_grid {
        margin-top: 0px;
    }

    .card_icon {
        font-size: 22px !important;
    }

    .right_grid {
        margin-left: 0px;
        margin-top: 30px;
    }

}


@media screen and (max-width:900px) {
    .search_grid {
        width: 50%;
    }

    .logo_grid {
        height: 75px;
    }

    .card {
        height: 60px;
    }

    .card_icon {
        font-size: 25px !important;
    }

    .sidebar_grid {
        margin-top: 0px !important;
    }

    .s_card {
        width: 68% !important;

    }

    .main_grid_dashboard {
        padding: 8px 20px !important
    }

    .right_grid {
        margin-left: 0px;
        margin-top: 30px;
    }
}

@media screen and (max-width:1200px) and (min-width:1098px) {
    .right_grid {
        margin-left: 0px;
        margin-top: 30px;
    }
}